## Import available `cdapython` functions

In [96]:
from cdapython.data_exploration import tables, columns, column_values, column_data_types
from cdapython.fetch import fetch_rows
from cdapython.query import summary_counts

## Get a list of searchable CDA tables

In [97]:
tables()

['diagnosis',
 'file',
 'researchsubject',
 'somatic_mutation',
 'specimen',
 'subject',
 'treatment']

## Explore CDA tables' columns in detail

In [98]:
columns()

,table,column,data_type,nullable,description
0,diagnosis,diagnosis_id,text,False,The logical identifier of the entity in the re...
1,diagnosis,age_at_diagnosis,integer,True,The age in days of the individual at the time ...
2,diagnosis,grade,text,True,"The degree of abnormality of cancer cells, a m..."
3,diagnosis,method_of_diagnosis,text,True,The method used to confirm the subjects malign...
4,diagnosis,morphology,text,True,Code that represents the histology of the dise...
...,...,...,...,...,...
200,treatment,treatment_anatomic_site,text,True,The anatomical site that the treatment targets.
201,treatment,treatment_effect,text,True,The effect of a treatment on the diagnosis or ...
202,treatment,treatment_end_reason,text,True,The reason the treatment ended.
203,treatment,treatment_outcome,text,True,The final outcome of the treatment.
204,treatment,treatment_type,text,True,The treatment type including medication/therap...

## See what values are populated in a given column

In [101]:
column_values( 'primary_diagnosis_site' )

                                primary_diagnosis_site  count
0                                                Chest  28221
1                                               Breast  24682
2                                                       16424
3                                    Bronchus and lung  13401
4        Hematopoietic and reticuloendothelial systems  11590
..                                                 ...    ...
211  Skin, NOS (excludes skin of labia majora C51.0...      1
212                                    Small Intestine      1
213  Soft palate, NOS (excludes nasopharyngeal surf...      1
214                                    Spinal meninges      1
215                                       Supraglottis      1

[216 rows x 2 columns]

## Fetch subject row summary information for a column value

In [129]:
fetch_rows( table= 'subject', match_all = 'primary_diagnosis_site = kid*', count_only=True )

{'distinct_subject_rows': 3806, 'total_result_rows': 3806}

## Fetch subject rows for a column value

In [130]:
fetch_rows( table= 'subject', match_all = 'primary_diagnosis_site = kid*')

/Users/amanda.charbonneau/code_review_sandbox/venv_sandbox/lib/python3.11/site-packages/cdapython/fetch.py:1540: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  result_dataframe[column].fillna( '', inplace=True )

,subject_id,cause_of_death,days_to_birth,days_to_death,ethnicity,race,sex,species,vital_status
0,c4kc_kits.KiTS-00000,,<NA>,<NA>,,,F,Homo sapiens,
1,c4kc_kits.KiTS-00001,,<NA>,<NA>,,,M,Homo sapiens,
2,c4kc_kits.KiTS-00002,,<NA>,<NA>,,,M,Homo sapiens,
3,c4kc_kits.KiTS-00003,,<NA>,<NA>,,,F,Homo sapiens,
4,c4kc_kits.KiTS-00004,,<NA>,<NA>,,,M,Homo sapiens,
...,...,...,...,...,...,...,...,...,...
3801,TCGA.TCGA-Y8-A898,,-25344,<NA>,not hispanic or latino,white,male,Homo sapiens,Alive
3802,TCGA.TCGA-Y8-A8RY,,-23192,<NA>,not hispanic or latino,white,male,Homo sapiens,Alive
3803,TCGA.TCGA-Y8-A8RZ,,-20386,<NA>,not hispanic or latino,white,male,Homo sapiens,Alive
3804,TCGA.TCGA-Y8-A8S0,,-21383,<NA>,not hispanic or latino,white,male,Homo sapiens,Alive
3805,TCGA.TCGA-Y8-A8S1,,-22319,<NA>,not hispanic or latino,white,male,Homo sapiens,Alive

### Fetch rows from any table for a column value



<div class="tabbed-set tabbed-alternate" data-tabs="1:6"><input checked="checked" id="__tabbed_1_1" name="__tabbed_1" type="radio" /><input id="__tabbed_1_2" name="__tabbed_1" type="radio" /><input id="__tabbed_1_3" name="__tabbed_1" type="radio" /><input id="__tabbed_1_4" name="__tabbed_1" type="radio" /><input id="__tabbed_1_5" name="__tabbed_1" type="radio" /><input id="__tabbed_1_6" name="__tabbed_1" type="radio" /><div class="tabbed-labels"><label for="__tabbed_1_1">subject data</label><label for="__tabbed_1_2">research subject data</label><label for="__tabbed_1_3">specimen data</label><label for="__tabbed_1_4">diagnosis data</label><label for="__tabbed_1_5">treatment data</label><label for="__tabbed_1_6">mutation data</label></div>
<div class="tabbed-content">
<div class="tabbed-block">
<div class="highlight"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span></span><span class="normal">1</span></pre></div></td><td class="code"><div><pre><span></span><code><span class="n">fetch_rows</span><span class="p">(</span> <span class="n">table</span><span class="o">=</span> <span class="s2">&quot;subject&quot;</span><span class="p">,</span> <span class="n">match_all</span><span class="o">=</span><span class="s1">&#39;primary_disease_site = kid*&#39;</span> <span class="p">)</span>
</code></pre></div></td></tr></table></div>
</div>
<div class="tabbed-block">
<div class="highlight"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span></span><span class="normal">1</span></pre></div></td><td class="code"><div><pre><span></span><code><span class="n">fetch_rows</span><span class="p">(</span> <span class="n">table</span><span class="o">=</span> <span class="s2">&quot;research_subject&quot;</span><span class="p">,</span> <span class="n">match_all</span><span class="o">=</span><span class="s1">&#39;primary_disease_site = kid*&#39;</span> <span class="p">)</span>
</code></pre></div></td></tr></table></div>
</div>
<div class="tabbed-block">
<div class="highlight"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span></span><span class="normal">1</span></pre></div></td><td class="code"><div><pre><span></span><code><span class="n">fetch_rows</span><span class="p">(</span> <span class="n">table</span><span class="o">=</span> <span class="s2">&quot;specimen&quot;</span><span class="p">,</span> <span class="n">match_all</span><span class="o">=</span><span class="s1">&#39;primary_disease_site = kid*&#39;</span> <span class="p">)</span>
</code></pre></div></td></tr></table></div>
</div>
<div class="tabbed-block">
<div class="highlight"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span></span><span class="normal">1</span></pre></div></td><td class="code"><div><pre><span></span><code><span class="n">fetch_rows</span><span class="p">(</span> <span class="n">table</span><span class="o">=</span> <span class="s2">&quot;diagnosis&quot;</span><span class="p">,</span> <span class="n">match_all</span><span class="o">=</span><span class="s1">&#39;primary_disease_site = kid*&#39;</span> <span class="p">)</span>
</code></pre></div></td></tr></table></div>
</div>
<div class="tabbed-block">
<div class="highlight"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span></span><span class="normal">1</span></pre></div></td><td class="code"><div><pre><span></span><code><span class="n">fetch_rows</span><span class="p">(</span> <span class="n">table</span><span class="o">=</span> <span class="s2">&quot;treatment&quot;</span><span class="p">,</span> <span class="n">match_all</span><span class="o">=</span><span class="s1">&#39;primary_disease_site = kid*&#39;</span> <span class="p">)</span>
</code></pre></div></td></tr></table></div>
</div>
<div class="tabbed-block">
<div class="highlight"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span></span><span class="normal">1</span></pre></div></td><td class="code"><div><pre><span></span><code><span class="n">fetch_rows</span><span class="p">(</span> <span class="n">table</span><span class="o">=</span> <span class="s2">&quot;mutation&quot;</span><span class="p">,</span> <span class="n">match_all</span><span class="o">=</span><span class="s1">&#39;primary_disease_site = kid*&#39;</span> <span class="p">)</span>
</code></pre></div></td></tr></table></div>
</div>
</div>
</div>

In [99]:
columns(
        table=[ 'file', '*subject*' ],
        column=[ '*data*', 'days*', '*size', '*_id' ],
        data_type=[ 'boolean', '*int*' ],
        nullable=True, 
        description_contains=[ 'date used', 'file in bytes' ],
        sort_by=[ 'table:desc', 'column:desc' ]
)

,table,column,data_type,nullable,description
0,subject,days_to_death,integer,True,Number of days between the date used for index...
1,subject,days_to_birth,integer,True,Number of days between the date used for index...
2,file,byte_size,bigint,True,Size of the file in bytes. Maps to dcat:byteSize.

Look for anatomical information:

In [100]:
columns( column='*site*' )

,table,column,data_type,nullable,description
0,researchsubject,primary_diagnosis_site,text,True,The text term used to describe the primary sit...
1,somatic_mutation,primary_site,text,True,Anatomical site of the cancer under investigat...
2,specimen,anatomical_site,text,True,"Per GDC Dictionary, the text term that represe..."
3,treatment,treatment_anatomic_site,text,True,The anatomical site that the treatment targets.

Profile and count values in a column of interest:

Refine `columns()` search:

Refine `column_values()` search:

In [102]:
column_values( 'primary_diagnosis_site', sort_by='value:desc', filters=[ '*lung*', '*kidney*' ] )

                              primary_diagnosis_site  count
0                             Lung/Bronchus, Unknown     38
1                                      Lung/Bronchus     18
2                                          Lung, NOS      2
3                                       Lung Phantom      8
4                                               Lung   4964
5                                    Kidney, Unknown     42
6                                        Kidney, NOS      3
7                                             Kidney   5734
8                                  Bronchus and lung  13401
9  Abdomen, Arm, Bladder, Chest, Head-Neck, Kidne...     88

Explore CDA records, filtering on columns of interest:

In [103]:
fetch_rows( table= "subject", count_only=True )

{'distinct_subject_rows': 160442, 'total_result_rows': 160442}

Refine record search as we go:

In [104]:
fetch_rows( table= "subject", match_some=[ 'subject_id = 4d*', 'subject_id = acrin*' ], count_only=True )

{'distinct_subject_rows': 1714, 'total_result_rows': 1714}

Now we have a manageable dataset. Stop counting and start looking at data:

In [105]:
fetch_rows( table= "subject", match_some=[ 'subject_id = 4d*', 'subject_id = acrin*' ] )

/Users/amanda.charbonneau/code_review_sandbox/venv_sandbox/lib/python3.11/site-packages/cdapython/fetch.py:1540: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  result_dataframe[column].fillna( '', inplace=True )

,subject_id,cause_of_death,days_to_birth,days_to_death,ethnicity,race,sex,species,vital_status
0,4d_lung.100_HM10395,,<NA>,<NA>,,,M,Homo sapiens,
1,4d_lung.101_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
2,4d_lung.102_HM10395,,<NA>,<NA>,,,M,Homo sapiens,
3,4d_lung.103_HM10395,,<NA>,<NA>,,,M,Homo sapiens,
4,4d_lung.104_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
...,...,...,...,...,...,...,...,...,...
1709,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-247,,<NA>,<NA>,,,M,Homo sapiens,
1710,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-248,,<NA>,<NA>,,,M,Homo sapiens,
1711,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-249,,<NA>,<NA>,,,F,Homo sapiens,
1712,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-250,,<NA>,<NA>,,,M,Homo sapiens,
1713,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-251,,<NA>,<NA>,,,F,Homo sapiens,

In [106]:
fetch_rows( table= "subject", match_some=[ 'subject_id = 4d*', 'subject_id = acrin*' ], match_all=[ 'sex = f' ] )

/Users/amanda.charbonneau/code_review_sandbox/venv_sandbox/lib/python3.11/site-packages/cdapython/fetch.py:1540: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  result_dataframe[column].fillna( '', inplace=True )

,subject_id,cause_of_death,days_to_birth,days_to_death,ethnicity,race,sex,species,vital_status
0,4d_lung.101_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
1,4d_lung.104_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
2,4d_lung.106_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
3,4d_lung.107_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
4,4d_lung.108_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
...,...,...,...,...,...,...,...,...,...
1526,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-236,,<NA>,<NA>,,,F,Homo sapiens,
1527,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-239,,<NA>,<NA>,W,,F,Homo sapiens,
1528,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-242,,<NA>,<NA>,,,F,Homo sapiens,
1529,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-249,,<NA>,<NA>,,,F,Homo sapiens,
1530,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-251,,<NA>,<NA>,,,F,Homo sapiens,

In [107]:
fetch_rows( table= "subject", match_some=[ 'subject_id = 4d*', 'subject_id = acrin*' ], match_all=[ 'sex = f*', 'primary_diagnosis_site != breast' ] )

/Users/amanda.charbonneau/code_review_sandbox/venv_sandbox/lib/python3.11/site-packages/cdapython/fetch.py:1540: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  result_dataframe[column].fillna( '', inplace=True )

,subject_id,cause_of_death,days_to_birth,days_to_death,ethnicity,race,sex,species,vital_status
0,4d_lung.101_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
1,4d_lung.104_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
2,4d_lung.106_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
3,4d_lung.107_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
4,4d_lung.108_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
...,...,...,...,...,...,...,...,...,...
89,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-236,,<NA>,<NA>,,,F,Homo sapiens,
90,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-239,,<NA>,<NA>,W,,F,Homo sapiens,
91,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-242,,<NA>,<NA>,,,F,Homo sapiens,
92,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-249,,<NA>,<NA>,,,F,Homo sapiens,
93,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-251,,<NA>,<NA>,,,F,Homo sapiens,

Extensive debug information!

In [108]:
fetch_rows( table= "subject", match_some=[ 'subject_id = 4d*', 'subject_id = acrin*' ], match_all=[ 'sex = f*', 'primary_diagnosis_site != breast' ], debug=True )

{
    "node_type": "AND",
    "l": {
        "node_type": "AND",
        "l": {
            "node_type": "LIKE",
            "l": {
                "node_type": "column",
                "value": "sex"
            },
            "r": {
                "node_type": "quoted",
                "value": "f%"
            }
        },
        "r": {
            "node_type": "!=",
            "l": {
                "node_type": "column",
                "value": "primary_diagnosis_site"
            },
            "r": {
                "node_type": "quoted",
                "value": "breast"
            }
        }
    },
    "r": {
        "node_type": "OR",
        "l": {
            "node_type": "LIKE",
            "l": {
                "node_type": "column",
                "value": "subject_id"
            },
            "r": {
                "node_type": "quoted",
                "value": "4d%"
            }
        },
        "r": {
            "node_type": "LIKE",
            "l": {
                "node_type": "column",
                "value": "subject_id"
            },
            "r": {
                "node_type": "quoted",
                "value": "acrin%"
            }
        }
    }
}

--------------------------------------------------------------------------------
BEGIN DEBUG MESSAGE: fetch_rows(): Loaded CDA API URL from default config
--------------------------------------------------------------------------------

[{'url': 'http://localhost:8080', 'description': 'URL of CDA REST API service'}]

--------------------------------------------------------------------------------
END  DEBUG MESSAGE: fetch_rows(): Loaded CDA API URL from default config
--------------------------------------------------------------------------------

--------------------------------------------------------------------------------
BEGIN DEBUG MESSAGE: fetch_rows(): Querying CDA API 'subject' endpoint (fetching all results)
--------------------------------------------------------------------------------

Organizing result data...
   -- filtering API columns: ['subject_identifier', 'subject_associated_project']
Handling missing values...
/Users/amanda.charbonneau/code_review_sandbox/venv_sandbox/lib/python3.11/site-packages/cdapython/fetch.py:1540: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  result_dataframe[column].fillna( '', inplace=True )

,subject_id,cause_of_death,days_to_birth,days_to_death,ethnicity,race,sex,species,vital_status
0,4d_lung.101_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
1,4d_lung.104_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
2,4d_lung.106_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
3,4d_lung.107_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
4,4d_lung.108_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
...,...,...,...,...,...,...,...,...,...
89,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-236,,<NA>,<NA>,,,F,Homo sapiens,
90,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-239,,<NA>,<NA>,W,,F,Homo sapiens,
91,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-242,,<NA>,<NA>,,,F,Homo sapiens,
92,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-249,,<NA>,<NA>,,,F,Homo sapiens,
93,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-251,,<NA>,<NA>,,,F,Homo sapiens,

There is handy help!

In [109]:
help( columns )

Help on function columns in module cdapython.data_exploration:

columns(*, return_data_as='', output_file='', sort_by='', debug=False, **filter_arguments)
    Get structured metadata describing searchable CDA columns.

    Arguments:
        return_data_as ( string; optional: 'dataframe' or 'list' or 'tsv' ):
            Specify how columns() should return results: as a pandas DataFrame,
            a Python list, or as output written to a TSV file named by the user.
            If this argument is omitted, columns() will default to returning
            results as a DataFrame.

        output_file( string; optional ):
            If return_data_as='tsv' is specified, output_file should contain a
            resolvable path to a file into which columns() will write
            tab-delimited results.

        sort_by( string or list of strings; optional:
                    any combination of 'table', 'column', 'data_type',
                    and/or 'nullable'):
            Specify the column metadata field(s) on which to sort result data.
            Results will be sorted first by the first named field; groups of
            records sharing the same value in the first field will then be
            sub-sorted by the second field, and so on.

            Any field with a suffix of ':desc' appended to it will be sorted
            in reverse order; adding ':asc' will ensure ascending sort order.
            Example: sort_by=[ 'table', 'nullable:desc', 'column:asc' ]

        debug( boolean; optional ):
            If set to True, print internal process details to the standard
            error stream.

    Filter arguments:
        table ( string or list of strings; optional ):
            Restrict returned data to columns from tables whose names match any
            of the given strings. A wildcard (asterisk) at either end (or both
            ends) of each string will allow partial matches. Case will be
            ignored.

        column ( string or list of strings; optional ):
            Restrict returned data to columns whose name matches any of the
            given strings. A wildcard (asterisk) at either end (or both ends)
            of each string will allow partial matches. Case will be ignored.

        data_type ( string or list of strings; optional ):
            Restrict returned data to columns whose data type matches any of
            the given strings. A wildcard (asterisk) at either end (or both
            ends) of each string will allow partial matches. Case will be
            ignored.

        nullable ( boolean; optional ):
            If set to True, restrict returned data to columns whose values are
            allowed to be empty; if False, return data only for columns
            requiring nonempty values.

        description_contains ( string or list of strings; optional ):
            Restrict returned data to columns whose `description` field matches
            any of the given strings. Wildcards will be automatically applied
            (end-to-end matching makes no sense here), emphasized by the name
            'description_contains' and not 'description'. Case will be ignored.

        exclude_table ( string or list of strings; optional ):
            Restrict returned data to columns from tables whose names do _not_
            match any of the given strings. A wildcard (asterisk) at either end
            (or both ends) of each string will allow partial matches. Case will
            be ignored.

    Returns:
        pandas.DataFrame where each row is a metadata record describing one
        searchable CDA column and is comprised of the following fields:

            `table` (string: name of the CDA table containing this column)
            `column` (string: name of this column)
            `data_type` (string: data type of this column)
            `nullable` (boolean: if True, this column can contain null values)`
            `description` (string: prose description of this column)

        OR list of column names

        OR returns nothing, but writes results to a user-specified TSV file

In [110]:
help( column_values )

Help on function column_values in module cdapython.data_exploration:

column_values(column='', *, return_data_as='dataframe', output_file='', sort_by='', filters='', data_source='', force=False, debug=False)
    Show all distinct values present in `column`, along with a count
    of occurrences for each value.

    Arguments:
        column ( string; required ):
            The column to fetch values from.

        return_data_as ( string; optional:
                'dataframe' (default) or 'list' or 'tsv' ):
            Specify how column_values() should return results: as a pandas
            DataFrame, a Python list, or as output written to a TSV file named
            by the user.

        output_file( string; optional ):
            If return_data_as='tsv' is specified, output_file should contain a
            resolvable path to a file into which column_values will write
            tab-delimited results.

        sort_by( string; optional:
                'count' ( default for return_data_as='dataframe' and
                return_data_as='tsv' ) or 'value' ( default for
                return_data_as='list' ) or 'count:desc' or 'value:desc'
                or 'count:asc' or 'value:asc' ):
            Specify the primary column to sort when preparing result data: on
            values, or on counts of values.

            A column name with a suffix of ':desc' appended to it will be
            sorted in reverse order; adding ':asc' will ensure ascending sort
            order. Example: sort_by='value:desc'

            Secondary sort order is automatic: if the results are to be
            primarily sorted by count, then the automatic behavior will be to
            also (alphabetically) sort by value within each group of values
            that all share the same count. If results are primarily sorted by
            value, then there is no secondary sort -- each value is unique by
            design, so results don't contain groups with the same value but
            different counts, so there's nothing to arrange once the primary
            sort has been applied.

        filters ( string or list of strings; optional ):
            Restrict returned values to those matching any of the given strings.
            A wildcard (asterisk) at either end (or both ends) of each string
            will allow partial matches. Case will be ignored. Use an empty
            filter string '' to match and count missing (null) values.

        data_source ( string; optional ):
            Restrict returned values to the given upstream data source, such
            as 'GDC', 'IDC', 'PDC', or 'CDS'. Defaults to '' (no filter).

        force( boolean; optional ):
            Force execution of high-overhead queries on columns (like IDs)
            flagged as having large numbers of values (see below under
            `expensive_columns`). Defaults to False, in which case attempts
            to retrieve values for flagged columns will result in a warning.

        debug( boolean; optional ): If set to True, print internal process
        details to the standard error stream.

    Returns:
        pandas.DataFrame OR list OR returns nothing, but writes retrieved
        data to a user-specified TSV file

In [111]:
help( subjects )

Help on function subjects in module cdapython.query:

subjects(*, match_all=[], match_some=[], link_to_table='', add_columns=[], data_source=[], count_only=False, debug=False)
    Get CDA subject records (rows from the CDA `subject` table).

    Arguments:
        match_all ( string or list of strings; optional ):
            One or more conditions, expressed as filter strings (see below),
            ALL of which must be met by all result rows.

        match_some ( string or list of strings; optional ):
            One or more conditions, expressed as filter strings (see below),
            AT LEAST ONE of which must be met by all result rows.

        link_to_table ( string; optional ):
            A non-`subject` table from which to fetch rows related to the
            `subject` row results that this function produces. `link_to_table`
            results will be appended to `subject` rows to which they're related:
            any `subject` row related to more than one `link_to_table` row will
            be repeated in the returned data, with one distinct `link_to_table` row
            appended to each repeated copy of its related `subject` row.
            Note: if `link_to_table` is specified, the `add_columns` parameter will be
            overridden and ignored.

        add_columns ( string or list of strings; optional ):
            One or more columns from non-`subject` tables to add to result data. If multiple
            values from an added column are all associated with a single `subject` row,
            that row will be repeated once for each distinct value, with the added data
            appended to each row.

        data_source ( string or list of strings; optional ):
            Restrict results to those deriving from the given upstream data source(s), such
            as 'GDC', 'IDC', 'PDC', or 'CDS'. (Default: no filter.)

        count_only ( boolean; optional ):
            If set to True, subjects() will return one integer: the number of CDA
            subject rows matching the specified filters). If `count_only`
            is set to False (the default), subjects() will return a pandas DataFrame
            containing all CDA `subject` rows that match the given filters.

        debug ( boolean; optional ):
            If set to True, internal process details will be printed to the standard error
            stream as subjects() is running. If False (the default), ...they won't.

    Filter strings:
        Filter strings are expressions of the form "COLUMN_NAME OP VALUE"
        (note in particular that the whitespace surrounding OP is required),
        where

            COLUMN_NAME is a searchable CDA column (see the columns() function
            for details)

            OP is one of: < <=  > >= = !=

            VALUE is a particular value of whatever data type is stored
            in COLUMN_NAME (see the columns() function for details), or
            the special keyword NULL, indicating the filter should match
            missing (null) values in COLUMN_NAME.

        Operators = and != will work on numeric, boolean and string VALUEs.

        Operators < <= > >= will only work on numeric VALUEs.

        Users can require partial matches to string VALUEs by adding * to either or
        both ends. For example:

            primary_disease_type = *duct*
            sex = F*

        String VALUEs need not be quoted inside of filter strings. For example, to include
        the filters specified just above in the `match_all` argument, we can write:

            subjects( match_all=[ 'primary_disease_type = *duct*', 'sex = F*' ] )

        NULL is a special VALUE which can be used to match missing data. For
        example, to get `subject` rows where the `sex` field is missing data,
        we can write:

            subjects( match_all=[ 'sex = NULL' ] )

    Returns:
        integer representing the total number of CDA subject rows matching the given
            filters (if count_only=True)

        OR

        pandas.DataFrame containing CDA subject rows matching the user-specified
            filter criteria. The DataFrame's named columns will match columns in the
            CDA `subject` table, and each row in the DataFrame will contain one
            CDA subject row.

In [112]:
help( column_data_types )

Help on function column_data_types in module cdapython.data_exploration:

column_data_types()
    Get a list of all data types stored in searchable CDA columns.

    Returns:
        list of strings: names of data types stored in searchable CDA columns.

In [113]:
help( tables )

Help on function tables in module cdapython.data_exploration:

tables()
    Get a list of all searchable CDA data tables.

    Returns:
        list of strings: names of searchable CDA tables.

In [114]:
help( summary_counts )

Help on function summary_counts in module cdapython.query:

summary_counts(table='', *, match_all=[], match_some=[], data_source=[], debug=False)
    For a set of rows in a user-specified table that all match a user-specified set of filters, get
    a report showing counts of values present in that set of rows, profiled across a small set of
    pre-selected columns.

    Arguments:
        table ( string; required ):
            The table whose rows are to be filtered and counted. (Run the tables()
            function to get a list.)

        match_all ( string or list of strings; optional ):
            One or more conditions, expressed as filter strings (see below),
            ALL of which must be met by all result rows.

        match_some ( string or list of strings; optional ):
            One or more conditions, expressed as filter strings (see below),
            AT LEAST ONE of which must be met by all result rows.

        data_source ( string or list of strings; optional ):
            Restrict results to those deriving from the given upstream data source(s), such
            as 'GDC', 'IDC', 'PDC', or 'CDS'. (Default: no filter.)

        debug ( boolean; optional ):
            If set to True, internal process details will be printed to the standard error
            stream as summary_counts() is running. If False (the default), ...they won't.

    Filter strings:
        Filter strings are expressions of the form "COLUMN_NAME OP VALUE"
        (note in particular that the whitespace surrounding OP is required),
        where

            COLUMN_NAME is a searchable CDA column (see the columns() function
            for details)

            OP is one of: < <=  > >= = !=

            VALUE is a particular value of whatever data type is stored
            in COLUMN_NAME (see the columns() function for details), or
            the special keyword NULL, indicating the filter should match
            missing (null) values in COLUMN_NAME.

        Operators = and != will work on numeric, boolean and string VALUEs.

        Operators < <= > >= will only work on numeric VALUEs.

        Users can require partial matches to string VALUEs by adding * to either or
        both ends. For example:

            primary_disease_type = *duct*
            sex = F*

        String VALUEs need not be quoted inside of filter strings. For example, to include
        the filters specified just above in the `match_all` argument, we can write:

            summary_counts( table='subject', match_all=[ 'primary_disease_type = *duct*', 'sex = F*' ] )

        NULL is a special VALUE which can be used to match missing data. For
        example, to get a count summary for rows where the `sex` field is missing data,
        we can write:

            summary_counts( table='subject', match_all=[ 'sex = NULL' ] )

    Returns:
        Python dictionary enumerating counts of all data values (from a small set of pre-selected columns)
        appearing in any of the rows of the user-specified `table` that match the user-specified filter criteria
        (the 'result rows'). One or two summary keys in this dictionary -- 'total_`table`_matches', and
        sometimes 'total_related_files', where appropriate -- will point to integers representing
        the number of result rows and the number of files related to those rows, respectively. All other keys
        in the dictionary will each contain a CDA column name; each corresponding value will itself be a
        dictionary enumerating all the specific values appearing in the result rows for the CDA column
        named in the key. Each value in that (sub-)dictionary will represent the total number of times
        that its corresponding key appears in the result rows.

        And yes, we know how that paragraph looks. We apologize to the entire English language.

There are many useful error messages awaiting you on your journey!

In [115]:
fetch_rows( table= "subject", match_all='primary_disease_site = kid*ey' )

fetch_rows(): ERROR: match_all: requested column 'primary_disease_site' is not a searchable CDA column.

In [116]:
fetch_rows( table= "subject", match_all='primary_diagnosis_site = kid*ey' )

fetch_rows(): ERROR: match_all: wildcards (*) are only allowed at the ends of string values; string 'kid*ey' is noncompliant (it has one in the middle). Please fix.

You can ask about missing values if you like!

In [117]:
fetch_rows( table= "subject", match_all=[ 'sex = NULL', 'ethnicity != NULL' ] )

/Users/amanda.charbonneau/code_review_sandbox/venv_sandbox/lib/python3.11/site-packages/cdapython/fetch.py:1540: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  result_dataframe[column].fillna( '', inplace=True )

,subject_id,cause_of_death,days_to_birth,days_to_death,ethnicity,race,sex,species,vital_status
0,cmb_crc.CMB-CRC-MSB-02381,,<NA>,<NA>,Non-Hispanic,,,Homo sapiens,
1,cmb_crc.CMB-CRC-MSB-03032,,<NA>,<NA>,1,,,Homo sapiens,
2,cmb_gec.CMB-GEC-MSB-06857,,<NA>,<NA>,Non-Hispanic [9],,,Homo sapiens,
3,cmb_lca.CMB-LCA-MSB-05837,,<NA>,<NA>,Non-Hispanic [9],,,Homo sapiens,
4,cmb_lca.CMB-LCA-MSB-09117,,<NA>,<NA>,Non-Hispanic [9],,,Homo sapiens,
5,cmb_lca.CMB-LCA-MSB-09977,,<NA>,<NA>,Non-Hispanic [9],,,Homo sapiens,
6,cmb_mel.CMB-MEL-MSB-05412,,<NA>,<NA>,W,,,Homo sapiens,
7,cmb_mel.CMB-MEL-MSB-07612,,<NA>,<NA>,Not Hispanic Lat,,,Homo sapiens,
8,cmb_mel.CMB-MEL-MSB-09286,,<NA>,<NA>,W,,,Homo sapiens,
9,cmb_pca.CMB-PCA-MSB-07483,,<NA>,<NA>,Non-Hispanic [9],,,Homo sapiens,

You can filter by data source!

In [118]:
fetch_rows( table= "subject", data_source=[ 'GDC', 'PDC', 'IDC' ] )

/Users/amanda.charbonneau/code_review_sandbox/venv_sandbox/lib/python3.11/site-packages/cdapython/fetch.py:1540: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  result_dataframe[column].fillna( '', inplace=True )

,subject_id,cause_of_death,days_to_birth,days_to_death,ethnicity,race,sex,species,vital_status
0,CPTAC.01BR001,,<NA>,<NA>,not hispanic or latino,black or african american,female,Homo sapiens,Not Reported
1,CPTAC.01BR008,,<NA>,<NA>,not reported,black or african american,not reported,Homo sapiens,Not Reported
2,CPTAC.01BR009,,<NA>,<NA>,not reported,black or african american,not reported,Homo sapiens,Not Reported
3,CPTAC.01BR010,,<NA>,<NA>,not reported,black or african american,not reported,Homo sapiens,Not Reported
4,CPTAC.01BR015,,<NA>,<NA>,not hispanic or latino,white,female,Homo sapiens,Not Reported
...,...,...,...,...,...,...,...,...,...
1677,TCGA.TCGA-E2-A150,,-17580,<NA>,not hispanic or latino,white,female,Homo sapiens,Alive
1678,TCGA.TCGA-E2-A154,,-24999,<NA>,not hispanic or latino,white,female,Homo sapiens,Alive
1679,TCGA.TCGA-E2-A158,,-15903,<NA>,not hispanic or latino,white,female,Homo sapiens,Alive
1680,TCGA.TCGA-E2-A159,,-18621,<NA>,not hispanic or latino,white,female,Homo sapiens,Alive
1681,TCGA.TCGA-E2-A15A,,-16750,<NA>,not hispanic or latino,white,female,Homo sapiens,Alive

You can join columns from other tables!

In [119]:
fetch_rows( table= "subject", match_all=[ 'subject_id = TCGA*', 'sex = f*', 'hugo_symbol != NULL', 'days_to_death != NULL' ], data_source=[ 'GDC', 'PDC', 'IDC' ], add_columns=[ 'hugo_symbol', 'hotspot' ] )

fetch_rows(): ERROR: error message from API: 'PreparedStatementCallback; bad SQL grammar [SELECT row_to_json(json) FROM (SELECT subject.id AS subject_id, subject.cause_of_death AS cause_of_death, subject.days_to_birth AS days_to_birth, subject.days_to_death AS days_to_death, subject.ethnicity AS ethnicity, subject.race AS race, subject.sex AS sex, subject.species AS species, subject.vital_status AS vital_status, somatic_mutation.hugo_symbol AS hugo_symbol, somatic_mutation.hotspot AS hotspot FROM subject AS subject  LEFT JOIN subject_data_source AS subject_data_source ON subject.integer_id_alias = subject_data_source.subject_alias WHERE ((((subject_data_source.subject_from_gdc = ?) AND (subject_data_source.subject_from_pdc = ?)) AND (subject_data_source.subject_from_idc = ?)) AND ((((COALESCE(UPPER(subject.id), '') LIKE UPPER(?)) AND (COALESCE(UPPER(subject.sex), '') LIKE UPPER(?))) AND (somatic_mutation.hugo_symbol IS NOT NULL)) AND (subject.days_to_death IS NOT NULL))) GROUP BY subject.id,subject.cause_of_death,subject.days_to_birth,subject.days_to_death,subject.ethnicity,subject.race,subject.sex,subject.species,subject.vital_status,somatic_mutation.hugo_symbol,somatic_mutation.hotspot ORDER BY subject.id asc  LIMIT 500000) AS json]; nested exception is org.postgresql.util.PSQLException: ERROR: missing FROM-clause entry for table "somatic_mutation"
  Position: 327'

You can join entire other tables!

In [120]:
fetch_rows( table= "subject", match_all=[ 'subject_id = TCGA*', 'sex = f*', 'hugo_symbol != NULL', 'days_to_death != NULL' ], data_source=[ 'GDC', 'PDC', 'IDC' ], link_to_table='researchsubject' )

fetch_rows(): ERROR: error message from API: 'PreparedStatementCallback; bad SQL grammar [SELECT row_to_json(json) FROM (SELECT subject.id AS subject_id, subject.cause_of_death AS cause_of_death, subject.days_to_birth AS days_to_birth, subject.days_to_death AS days_to_death, subject.ethnicity AS ethnicity, subject.race AS race, subject.sex AS sex, subject.species AS species, subject.vital_status AS vital_status, researchsubject.id AS researchsubject_id, researchsubject.member_of_research_project AS member_of_research_project, researchsubject.primary_diagnosis_condition AS primary_diagnosis_condition, researchsubject.primary_diagnosis_site AS primary_diagnosis_site FROM subject AS subject  LEFT JOIN subject_researchsubject AS subject_researchsubject ON subject.integer_id_alias = subject_researchsubject.subject_alias  LEFT JOIN researchsubject AS researchsubject ON subject_researchsubject.researchsubject_alias = researchsubject.integer_id_alias  LEFT JOIN subject_data_source AS subject_data_source ON subject.integer_id_alias = subject_data_source.subject_alias WHERE ((((subject_data_source.subject_from_gdc = ?) AND (subject_data_source.subject_from_pdc = ?)) AND (subject_data_source.subject_from_idc = ?)) AND ((((COALESCE(UPPER(subject.id), '') LIKE UPPER(?)) AND (COALESCE(UPPER(subject.sex), '') LIKE UPPER(?))) AND (somatic_mutation.hugo_symbol IS NOT NULL)) AND (subject.days_to_death IS NOT NULL))) GROUP BY subject.id,subject.cause_of_death,subject.days_to_birth,subject.days_to_death,subject.ethnicity,subject.race,subject.sex,subject.species,subject.vital_status,researchsubject.id,researchsubject.member_of_research_project,researchsubject.primary_diagnosis_condition,researchsubject.primary_diagnosis_site ORDER BY subject.id asc  LIMIT 500000) AS json]; nested exception is org.postgresql.util.PSQLException: ERROR: missing FROM-clause entry for table "somatic_mutation"
  Position: 1253'

You can get value-count summaries for things, optionally based on matches to custom filters:

In [121]:
summary_counts( table='subject', match_all='subject_id = CPTAC.01BR*' )

summary_counts(): ERROR: unexpected return type 'float64' observed in result column 'subject_id'; please inform the CDA devs of this event.

In [122]:
summary_counts( table='diagnosis', match_all='primary_diagnosis = Adeno*' )

summary_counts(): ERROR: unexpected return type 'float64' observed in result column 'diagnosis_id'; please inform the CDA devs of this event.

You can also count things based on filters applied to related tables:

In [123]:
summary_counts( table='diagnosis', match_all='subject_id = CPTAC.01BR*' )

summary_counts(): ERROR: unexpected return type 'float64' observed in result column 'diagnosis_id'; please inform the CDA devs of this event.

This particular bit doesn't work and has been humorously disabled!

In [124]:
summary_counts( table='somatic_mutation', match_all=[ 'hugo_symbol = DOK5' ] )

summary_counts(): ERROR_WITH_APOLOGIES: summary counts for somatic_mutation are not available at present. Please select any of our other fine tables.